<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-controle-entregas-heading"
        data-cy="ControleEntregasCreateUpdateHeading"
        jhiTranslate="lojaDoraApp.controleEntregas.home.createOrEditLabel"
      >
        Criar ou editar Controle Entregas
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lojaDoraApp.controleEntregas.data" for="field_data">Data</label>
          <div class="input-group">
            <input
              id="field_data"
              data-cy="data"
              type="text"
              class="form-control"
              name="data"
              ngbDatepicker
              #dataDp="ngbDatepicker"
              formControlName="data"
            />
            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lojaDoraApp.controleEntregas.descricao" for="field_descricao">Descricao</label>
          <input type="text" class="form-control" name="descricao" id="field_descricao" data-cy="descricao" formControlName="descricao" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lojaDoraApp.controleEntregas.address" for="field_address">Address</label>
          <input type="text" class="form-control" name="address" id="field_address" data-cy="address" formControlName="address" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lojaDoraApp.controleEntregas.receita" for="field_receita">Receita</label>
          <select class="form-control" name="receita" formControlName="receita" id="field_receita" data-cy="receita">
            <option [ngValue]="null">{{ 'lojaDoraApp.Receita.null' | translate }}</option>
            @for (receita of receitaValues; track $index) {
              <option [value]="receita">{{ 'lojaDoraApp.Receita.' + receita | translate }}</option>
            }
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="lojaDoraApp.controleEntregas.valor" for="field_valor">Valor</label>
          <input
            type="text"
            class="form-control"
            name="valor"
            id="field_valor"
            data-cy="valor"
            formControlName="valor"
            currencyMask
            [options]="{ prefix: 'AOA ', thousands: '.', decimal: ',' }"
          />
        </div>

        <div class="mb-3">
          <label jhiTranslate="lojaDoraApp.controleEntregas.funcionario" for="field_funcionarios">Funcionario</label>
          <select
            class="form-control"
            id="field_funcionarios"
            data-cy="funcionario"
            name="funcionarios"
            formControlName="funcionarios"
            [compareWith]="compareFuncionario"
          >
            @for (funcionarioOption of funcionariosSharedCollection; track $index) {
              <option [ngValue]="funcionarioOption">{{ funcionarioOption.primeiroNome }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
