<div>
  <h2 id="page-heading" data-cy="ControleAjustesHeading">
    <span jhiTranslate="lojaDoraApp.controleAjustes.home.title">Controle Ajustes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="lojaDoraApp.controleAjustes.home.refreshListLabel">Atualizar lista</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-controle-ajustes"
        [routerLink]="['/controle-ajustes/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="lojaDoraApp.controleAjustes.home.createLabel">Criar novo Controle Ajustes</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  @if (controleAjustes?.length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="lojaDoraApp.controleAjustes.home.notFound">Nenhum Controle Ajustes encontrado</span>
    </div>
  }

  @if (controleAjustes && controleAjustes.length > 0) {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">Código</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataEntrega">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.dataEntrega">Data Entrega</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="dataRecebimento">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.dataRecebimento">Data Recebimento</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="qtdPecas">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.qtdPecas">Qtd Pecas</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="descricao">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.descricao">Descricao</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="valor">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.valor">Valor</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="receita">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.receita">Receita</span>

                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="funcionario.id">
              <div class="d-flex">
                <span jhiTranslate="lojaDoraApp.controleAjustes.funcionario">Funcionario</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (controleAjustes of controleAjustes; track trackId) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/controle-ajustes', controleAjustes.id, 'view']">{{ controleAjustes.id }}</a>
              </td>
              <td>{{ controleAjustes.dataEntrega | formatMediumDate }}</td>
              <td>{{ controleAjustes.dataRecebimento | formatMediumDate }}</td>
              <td>{{ controleAjustes.qtdPecas }}</td>
              <td>{{ controleAjustes.descricao }}</td>
              <td>{{ controleAjustes.valor }}</td>
              <td jhiTranslate="{{ 'lojaDoraApp.Receita.' + controleAjustes.receita }}">{{ controleAjustes.receita }}</td>
              <td>
                @if (controleAjustes.funcionario) {
                  <div>
                    <a [routerLink]="['/funcionario', controleAjustes.funcionario.id, 'view']">{{ controleAjustes.funcionario.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/controle-ajustes', controleAjustes.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Visualizar</span>
                  </a>

                  <a
                    [routerLink]="['/controle-ajustes', controleAjustes.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editar</span>
                  </a>

                  <button type="submit" (click)="delete(controleAjustes)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Excluir</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
</div>
