<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (entidades) {
      <div>
        <h2 data-cy="entidadesDetailsHeading"><span jhiTranslate="lojaDoraApp.entidades.detail.title">Entidades</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">Código</span></dt>
          <dd>
            <span>{{ entidades.id }}</span>
          </dd>
          <dt><span jhiTranslate="lojaDoraApp.entidades.nome">Nome</span></dt>
          <dd>
            <span>{{ entidades.nome }}</span>
          </dd>
          <dt><span jhiTranslate="lojaDoraApp.entidades.endereco">Endereco</span></dt>
          <dd>
            <span>{{ entidades.endereco }}</span>
          </dd>
          <dt><span jhiTranslate="lojaDoraApp.entidades.telefone">Telefone</span></dt>
          <dd>
            <span>{{ entidades.telefone }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Voltar</span>
        </button>

        <button type="button" [routerLink]="['/entidades', entidades.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editar</span>
        </button>
      </div>
    }
  </div>
</div>
